body {
  background-color: #f2e9e2;
}

h5 {
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.4;
  letter-spacing: 4px;
}

h2 {
  font-family: "Gulzar", serif;
  font-weight: bold;
  font-size: 36px;
}
p {
  font-family: "Changa", sans-serif;
  opacity: 0.7;
}

.container {
  margin-top: 40px;
  display: flex;
  width: 700px;
}

.left {
  width: 50%;
}

.img {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  width: 100%;
  height: 100%;
}

.right {
  background-color: aliceblue;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  padding: 30px;
  width: 50%;
}

.pad {
  padding-top: 10px;
}

.money {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
#small {
  font-family: "Changa", sans-serif;
  font-size: 40px;
  color: green;
}

#big {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn {
  width: 260px;
  font-weight: bold;
  padding: 10px;
}

.img2 {
  display: none;
}

@media (max-width: 367px) {
  body {
    background-color: #f2e9e2;
  }

  .container {
    width: 367px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: 100%;
  }
  .img2 {
    width: 90%;
    height: 300px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin: auto;
  }
  .right {
    width: 90%;
    padding: 10px;
  }
  .img {
    display: none;
  }
  .img2 {
    display: block;
  }
}
